/**
 * 'The ultimate PX?REM mixin' - https://hugogiraudel.com/2013/03/18/ultimate-rem-mixin.
 * Usage @include rem(font-size, 1.6rem), @include rem(padding, 20px 10px)
 */
@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
  $px : ();
  $rem: ();

  @each $value in $values {

    @if $value == 0 or $value == auto {
      $px : append($px , $value);
      $rem: append($rem, $value);
    }

    @else {
      $unit: unit($value);
      $val: parseInt($value);

      @if $unit == "px" {
        $px : append($px,  $value);
        $rem: append($rem, ($val / 10 + rem));
      }

      @if $unit == "rem" {
        $px : append($px,  ($val * 10 + px));
        $rem: append($rem, $value);
      }
    }
  }

  @if $px == $rem { 
    #{$property}: $px;
  } @else {
    #{$property}: $px;
    #{$property}: $rem;
  }
}

@mixin arrow($color:#000, $size:'5px', $direction:'up') {

  width: 0;
  height: 0;
  
  @if ($direction == 'up') {
    border-right: $size solid transparent;
    border-left: $size solid transparent;
    border-bottom: $size solid $color;
  } 

  @if ($direction == 'down') {
    border-right: $size solid transparent;
    border-left: $size solid transparent;
    border-top: $size solid $color;
  }

  @if ($direction == 'right'){
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
  }

  @if ($direction == 'left'){
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
  }
}

@mixin scaleTrans() {
  @extend %transition;
  transform: scale(1.2, 1.2);
  box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
}

@mixin sliderThumb() {
  border: 1px solid $white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: $white;
  cursor: pointer;
  top: 1em;
  mrgin-top: 1em;
  padding-top: 1em;
}

 @mixin sliderTrack() {
  background: $white;
  opacity: 0.5;
  @inlcude rem(height, 0.8rem);
  width: 100%;
  @inlcude rem(border-radius, 0.8rem);
  cursor: pointer;
  margin-top: -2em;
}