%defaultFont {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

%transition {
	transition: all 0.3s ease;
}

%border-radius {
	@include rem(border-radius, 1rem);
}

%btnReset {
	color:inherit;
  text-decoration: none;
}

%clearfix::after {
	content: "";
  display: table;
  clear: both;
}

%blue {
	color: $blue!important;

	&:hover {
		color: $darkBlue!important;
	}
}

%green {
	color: $green!important;

	&:hover {
		color: $darkGreen!important;
	}
}

.blue {
	@extend %blue;
}

.green {
	@extend %green;
}

.transition {
	@extend %transition;
}

.light {
	font-weight: 300;
}

.bold {
	font-weight: 600;
}

.clearfix {
	@extend %clearfix;
}
