body {

	background-color: $blue;

	#site-logo {
		@include retina-sprite($brand-logo-group);
		display: block;
	}
	
	#main-content {
		
		width: 100%;
		
		*:not(.btn) {
			color: $darkBlue;
		}

	}

	[class^="avatar-"], [class^="album-"] {

		display: block;
	}

	/**
	 * Needs to be converted into a @for loop
	 */
	.avatar-1 {
		@include retina-sprite($avatar-1-group);
	}

	.avatar-2 {
		@include retina-sprite($avatar-2-group);
	}

	.avatar-3 {
		@include retina-sprite($avatar-3-group);
	}

	.avatar-4 {
		@include retina-sprite($avatar-4-group);
	}

	.avatar-5 {
		@include retina-sprite($avatar-5-group);
	}

	/**
	 * Needs to be converted into a @for loop
	 */
	.album-1 {
		@include retina-sprite($album-1-group);
	}
	.album-2 {
		@include retina-sprite($album-2-group);
	}
	.album-3 {
		@include retina-sprite($album-3-group);
	}
	.album-4 {
		@include retina-sprite($album-4-group);
	}
	.album-5 {
		@include retina-sprite($album-5-group);
	}
	.album-6 {
		@include retina-sprite($album-6-group);
	}
	.album-7 {
		@include retina-sprite($album-7-group);
	}
	.album-8 {
		@include retina-sprite($album-8-group);
	}
	.album-9 {
		@include retina-sprite($album-9-group);
	}
	.album-10 {
		@include retina-sprite($album-10-group);
	}
	.album-11 {
		@include retina-sprite($album-11-group);
	}
	.album-12 {
		@include retina-sprite($album-12-group);
	}
	.album-13 {
		@include retina-sprite($album-13-group);
	}
	.album-14 {
		@include retina-sprite($album-14-group);
	}
	.album-15 {
		@include retina-sprite($album-15-group);
	}
	.album-16 {
		@include retina-sprite($album-16-group);
	}
	.album-17 {
		@include retina-sprite($album-17-group);
	}
	.album-18 {
		@include retina-sprite($album-18-group);
	}
	.album-19 {
		@include retina-sprite($album-19-group);
	}
	.album-20 {
		@include retina-sprite($album-20-group);
	}
	.album-21 {
		@include retina-sprite($album-21-group);
	}
	.album-22 {
		@include retina-sprite($album-22-group);
	}
	.album-23 {
		@include retina-sprite($album-23-group);
	}
	.album-24 {
		@include retina-sprite($album-24-group);
	}

}