html {
	font-size: 62.5%;
}

body {
	@include rem(font-size, 1.8rem);
}

* {

	line-height: 1.3em;

	&:not(h1):not(.h1):not(h2):not(.h2):not(h3):not(.h3):not(h4):not(.h4):not(.fa):not(a):not(b):not(strong):not(small):not(x-small) {
		@extend %defaultFont;
	}
}

h1, .h1, h2, .h2, h3, .h3 {
	font-weight: 400;
}

h1, .h1 {
	@include rem(font-size, 4.2rem);
}

h2, .h2 {
	@include rem(font-size, 3.7rem);
}

h3, .h3 {
	@include rem(font-size, 3.2rem);
}

h4, .h4, h5, .h5 {
	@include rem(font-size, 2.5rem);
}

h6, .h6 {
	@include rem(font-size, 2rem);
}

h4, .h4, h5, .h5, h6, .h6 {
	font-weight: 600;
}

a {
	@extend %transition;
	color: inherit;
	text-decoration: none!important;
	font-weight: 600;

	&:hover:not(.btn) {
		@extend %transition;
		@extend %btnReset;
	}
	
	&:active:not(.btn), &:visited:not(.btn), &:disabled:not(.btn), &:focus:not(.btn) {
	  @extend %btnReset;
	  outline: 0;
	  color: inherit;
	}		
}

em {
	font-style: italic;
}

strong {
	font-weight: 600;
}

x-large {
	font-size: x-large;
}

large {
	font-size: larger;
}

x-small {
	@include rem(font-size, 12px);
	font-weight: 400;
}

small {
	@include rem(font-size, 14px);
	font-weight: 600;
}

#footer {
	
	x-small {
		font-size: x-small;
		font-weight: 300;
	}

	small {
		font-size: small;
		font-weight: 300;
	}

}