/**
 * Generic colours.
 */
$white: #FFF;
$black: #000;

/**
 * Brand specific colours.
 */
$blue: #34a3b4;
$darkBlue: #164952;
$lightBlue: #e1f1f3;
$green: #35b57f;
$grey: #b5b5b5;
$red: #b54c58;
$darkAqua: #1f3f43; 

/**
 * Additional variants
 */
$lightGreen: lighten($green, 10%);
$darkGreen: darken($green, 10%);
$lightGrey: lighten($grey, 10%);
$darkGrey: darken($grey, 10%);
$lightRed: lighten($red, 10%);
$darkRed: darken($red, 10%);