// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$album-1-name: 'album-1';
$album-1-x: 48px;
$album-1-y: 144px;
$album-1-offset-x: -48px;
$album-1-offset-y: -144px;
$album-1-width: 48px;
$album-1-height: 48px;
$album-1-total-width: 288px;
$album-1-total-height: 262px;
$album-1-image: '../../../assets/imgs/spritesheet.png';
$album-1: (48px, 144px, -48px, -144px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'album-1', );
$album-10-name: 'album-10';
$album-10-x: 96px;
$album-10-y: 144px;
$album-10-offset-x: -96px;
$album-10-offset-y: -144px;
$album-10-width: 48px;
$album-10-height: 48px;
$album-10-total-width: 288px;
$album-10-total-height: 262px;
$album-10-image: '../../../assets/imgs/spritesheet.png';
$album-10: (96px, 144px, -96px, -144px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'album-10', );
$album-11-name: 'album-11';
$album-11-x: 144px;
$album-11-y: 144px;
$album-11-offset-x: -144px;
$album-11-offset-y: -144px;
$album-11-width: 48px;
$album-11-height: 48px;
$album-11-total-width: 288px;
$album-11-total-height: 262px;
$album-11-image: '../../../assets/imgs/spritesheet.png';
$album-11: (144px, 144px, -144px, -144px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'album-11', );
$album-12-name: 'album-12';
$album-12-x: 192px;
$album-12-y: 0px;
$album-12-offset-x: -192px;
$album-12-offset-y: 0px;
$album-12-width: 48px;
$album-12-height: 48px;
$album-12-total-width: 288px;
$album-12-total-height: 262px;
$album-12-image: '../../../assets/imgs/spritesheet.png';
$album-12: (192px, 0px, -192px, 0px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'album-12', );
$album-13-name: 'album-13';
$album-13-x: 192px;
$album-13-y: 48px;
$album-13-offset-x: -192px;
$album-13-offset-y: -48px;
$album-13-width: 48px;
$album-13-height: 48px;
$album-13-total-width: 288px;
$album-13-total-height: 262px;
$album-13-image: '../../../assets/imgs/spritesheet.png';
$album-13: (192px, 48px, -192px, -48px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'album-13', );
$album-14-name: 'album-14';
$album-14-x: 0px;
$album-14-y: 0px;
$album-14-offset-x: 0px;
$album-14-offset-y: 0px;
$album-14-width: 48px;
$album-14-height: 48px;
$album-14-total-width: 288px;
$album-14-total-height: 262px;
$album-14-image: '../../../assets/imgs/spritesheet.png';
$album-14: (0px, 0px, 0px, 0px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'album-14', );
$album-15-name: 'album-15';
$album-15-x: 192px;
$album-15-y: 144px;
$album-15-offset-x: -192px;
$album-15-offset-y: -144px;
$album-15-width: 48px;
$album-15-height: 48px;
$album-15-total-width: 288px;
$album-15-total-height: 262px;
$album-15-image: '../../../assets/imgs/spritesheet.png';
$album-15: (192px, 144px, -192px, -144px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'album-15', );
$album-16-name: 'album-16';
$album-16-x: 0px;
$album-16-y: 192px;
$album-16-offset-x: 0px;
$album-16-offset-y: -192px;
$album-16-width: 48px;
$album-16-height: 48px;
$album-16-total-width: 288px;
$album-16-total-height: 262px;
$album-16-image: '../../../assets/imgs/spritesheet.png';
$album-16: (0px, 192px, 0px, -192px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'album-16', );
$album-17-name: 'album-17';
$album-17-x: 48px;
$album-17-y: 192px;
$album-17-offset-x: -48px;
$album-17-offset-y: -192px;
$album-17-width: 48px;
$album-17-height: 48px;
$album-17-total-width: 288px;
$album-17-total-height: 262px;
$album-17-image: '../../../assets/imgs/spritesheet.png';
$album-17: (48px, 192px, -48px, -192px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'album-17', );
$album-18-name: 'album-18';
$album-18-x: 96px;
$album-18-y: 192px;
$album-18-offset-x: -96px;
$album-18-offset-y: -192px;
$album-18-width: 48px;
$album-18-height: 48px;
$album-18-total-width: 288px;
$album-18-total-height: 262px;
$album-18-image: '../../../assets/imgs/spritesheet.png';
$album-18: (96px, 192px, -96px, -192px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'album-18', );
$album-19-name: 'album-19';
$album-19-x: 144px;
$album-19-y: 192px;
$album-19-offset-x: -144px;
$album-19-offset-y: -192px;
$album-19-width: 48px;
$album-19-height: 48px;
$album-19-total-width: 288px;
$album-19-total-height: 262px;
$album-19-image: '../../../assets/imgs/spritesheet.png';
$album-19: (144px, 192px, -144px, -192px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'album-19', );
$album-2-name: 'album-2';
$album-2-x: 192px;
$album-2-y: 192px;
$album-2-offset-x: -192px;
$album-2-offset-y: -192px;
$album-2-width: 48px;
$album-2-height: 48px;
$album-2-total-width: 288px;
$album-2-total-height: 262px;
$album-2-image: '../../../assets/imgs/spritesheet.png';
$album-2: (192px, 192px, -192px, -192px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'album-2', );
$album-20-name: 'album-20';
$album-20-x: 240px;
$album-20-y: 0px;
$album-20-offset-x: -240px;
$album-20-offset-y: 0px;
$album-20-width: 48px;
$album-20-height: 48px;
$album-20-total-width: 288px;
$album-20-total-height: 262px;
$album-20-image: '../../../assets/imgs/spritesheet.png';
$album-20: (240px, 0px, -240px, 0px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'album-20', );
$album-21-name: 'album-21';
$album-21-x: 240px;
$album-21-y: 48px;
$album-21-offset-x: -240px;
$album-21-offset-y: -48px;
$album-21-width: 48px;
$album-21-height: 48px;
$album-21-total-width: 288px;
$album-21-total-height: 262px;
$album-21-image: '../../../assets/imgs/spritesheet.png';
$album-21: (240px, 48px, -240px, -48px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'album-21', );
$album-22-name: 'album-22';
$album-22-x: 240px;
$album-22-y: 96px;
$album-22-offset-x: -240px;
$album-22-offset-y: -96px;
$album-22-width: 48px;
$album-22-height: 48px;
$album-22-total-width: 288px;
$album-22-total-height: 262px;
$album-22-image: '../../../assets/imgs/spritesheet.png';
$album-22: (240px, 96px, -240px, -96px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'album-22', );
$album-23-name: 'album-23';
$album-23-x: 0px;
$album-23-y: 144px;
$album-23-offset-x: 0px;
$album-23-offset-y: -144px;
$album-23-width: 48px;
$album-23-height: 48px;
$album-23-total-width: 288px;
$album-23-total-height: 262px;
$album-23-image: '../../../assets/imgs/spritesheet.png';
$album-23: (0px, 144px, 0px, -144px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'album-23', );
$album-24-name: 'album-24';
$album-24-x: 144px;
$album-24-y: 96px;
$album-24-offset-x: -144px;
$album-24-offset-y: -96px;
$album-24-width: 48px;
$album-24-height: 48px;
$album-24-total-width: 288px;
$album-24-total-height: 262px;
$album-24-image: '../../../assets/imgs/spritesheet.png';
$album-24: (144px, 96px, -144px, -96px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'album-24', );
$album-3-name: 'album-3';
$album-3-x: 144px;
$album-3-y: 48px;
$album-3-offset-x: -144px;
$album-3-offset-y: -48px;
$album-3-width: 48px;
$album-3-height: 48px;
$album-3-total-width: 288px;
$album-3-total-height: 262px;
$album-3-image: '../../../assets/imgs/spritesheet.png';
$album-3: (144px, 48px, -144px, -48px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'album-3', );
$album-4-name: 'album-4';
$album-4-x: 144px;
$album-4-y: 0px;
$album-4-offset-x: -144px;
$album-4-offset-y: 0px;
$album-4-width: 48px;
$album-4-height: 48px;
$album-4-total-width: 288px;
$album-4-total-height: 262px;
$album-4-image: '../../../assets/imgs/spritesheet.png';
$album-4: (144px, 0px, -144px, 0px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'album-4', );
$album-5-name: 'album-5';
$album-5-x: 96px;
$album-5-y: 96px;
$album-5-offset-x: -96px;
$album-5-offset-y: -96px;
$album-5-width: 48px;
$album-5-height: 48px;
$album-5-total-width: 288px;
$album-5-total-height: 262px;
$album-5-image: '../../../assets/imgs/spritesheet.png';
$album-5: (96px, 96px, -96px, -96px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'album-5', );
$album-6-name: 'album-6';
$album-6-x: 48px;
$album-6-y: 96px;
$album-6-offset-x: -48px;
$album-6-offset-y: -96px;
$album-6-width: 48px;
$album-6-height: 48px;
$album-6-total-width: 288px;
$album-6-total-height: 262px;
$album-6-image: '../../../assets/imgs/spritesheet.png';
$album-6: (48px, 96px, -48px, -96px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'album-6', );
$album-7-name: 'album-7';
$album-7-x: 0px;
$album-7-y: 96px;
$album-7-offset-x: 0px;
$album-7-offset-y: -96px;
$album-7-width: 48px;
$album-7-height: 48px;
$album-7-total-width: 288px;
$album-7-total-height: 262px;
$album-7-image: '../../../assets/imgs/spritesheet.png';
$album-7: (0px, 96px, 0px, -96px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'album-7', );
$album-8-name: 'album-8';
$album-8-x: 96px;
$album-8-y: 48px;
$album-8-offset-x: -96px;
$album-8-offset-y: -48px;
$album-8-width: 48px;
$album-8-height: 48px;
$album-8-total-width: 288px;
$album-8-total-height: 262px;
$album-8-image: '../../../assets/imgs/spritesheet.png';
$album-8: (96px, 48px, -96px, -48px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'album-8', );
$album-9-name: 'album-9';
$album-9-x: 240px;
$album-9-y: 144px;
$album-9-offset-x: -240px;
$album-9-offset-y: -144px;
$album-9-width: 48px;
$album-9-height: 48px;
$album-9-total-width: 288px;
$album-9-total-height: 262px;
$album-9-image: '../../../assets/imgs/spritesheet.png';
$album-9: (240px, 144px, -240px, -144px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'album-9', );
$avatar-1-name: 'avatar-1';
$avatar-1-x: 48px;
$avatar-1-y: 0px;
$avatar-1-offset-x: -48px;
$avatar-1-offset-y: 0px;
$avatar-1-width: 48px;
$avatar-1-height: 48px;
$avatar-1-total-width: 288px;
$avatar-1-total-height: 262px;
$avatar-1-image: '../../../assets/imgs/spritesheet.png';
$avatar-1: (48px, 0px, -48px, 0px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'avatar-1', );
$avatar-2-name: 'avatar-2';
$avatar-2-x: 192px;
$avatar-2-y: 96px;
$avatar-2-offset-x: -192px;
$avatar-2-offset-y: -96px;
$avatar-2-width: 48px;
$avatar-2-height: 48px;
$avatar-2-total-width: 288px;
$avatar-2-total-height: 262px;
$avatar-2-image: '../../../assets/imgs/spritesheet.png';
$avatar-2: (192px, 96px, -192px, -96px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'avatar-2', );
$avatar-3-name: 'avatar-3';
$avatar-3-x: 0px;
$avatar-3-y: 48px;
$avatar-3-offset-x: 0px;
$avatar-3-offset-y: -48px;
$avatar-3-width: 48px;
$avatar-3-height: 48px;
$avatar-3-total-width: 288px;
$avatar-3-total-height: 262px;
$avatar-3-image: '../../../assets/imgs/spritesheet.png';
$avatar-3: (0px, 48px, 0px, -48px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'avatar-3', );
$avatar-4-name: 'avatar-4';
$avatar-4-x: 48px;
$avatar-4-y: 48px;
$avatar-4-offset-x: -48px;
$avatar-4-offset-y: -48px;
$avatar-4-width: 48px;
$avatar-4-height: 48px;
$avatar-4-total-width: 288px;
$avatar-4-total-height: 262px;
$avatar-4-image: '../../../assets/imgs/spritesheet.png';
$avatar-4: (48px, 48px, -48px, -48px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'avatar-4', );
$avatar-5-name: 'avatar-5';
$avatar-5-x: 96px;
$avatar-5-y: 0px;
$avatar-5-offset-x: -96px;
$avatar-5-offset-y: 0px;
$avatar-5-width: 48px;
$avatar-5-height: 48px;
$avatar-5-total-width: 288px;
$avatar-5-total-height: 262px;
$avatar-5-image: '../../../assets/imgs/spritesheet.png';
$avatar-5: (96px, 0px, -96px, 0px, 48px, 48px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'avatar-5', );
$brand-logo-name: 'brand-logo';
$brand-logo-x: 0px;
$brand-logo-y: 240px;
$brand-logo-offset-x: 0px;
$brand-logo-offset-y: -240px;
$brand-logo-width: 93px;
$brand-logo-height: 22px;
$brand-logo-total-width: 288px;
$brand-logo-total-height: 262px;
$brand-logo-image: '../../../assets/imgs/spritesheet.png';
$brand-logo: (0px, 240px, 0px, -240px, 93px, 22px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'brand-logo', );
$help-icon-name: 'help-icon';
$help-icon-x: 240px;
$help-icon-y: 192px;
$help-icon-offset-x: -240px;
$help-icon-offset-y: -192px;
$help-icon-width: 23px;
$help-icon-height: 23px;
$help-icon-total-width: 288px;
$help-icon-total-height: 262px;
$help-icon-image: '../../../assets/imgs/spritesheet.png';
$help-icon: (240px, 192px, -240px, -192px, 23px, 23px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'help-icon', );
$logout-icon-name: 'logout-icon';
$logout-icon-x: 260px;
$logout-icon-y: 215px;
$logout-icon-offset-x: -260px;
$logout-icon-offset-y: -215px;
$logout-icon-width: 17px;
$logout-icon-height: 17px;
$logout-icon-total-width: 288px;
$logout-icon-total-height: 262px;
$logout-icon-image: '../../../assets/imgs/spritesheet.png';
$logout-icon: (260px, 215px, -260px, -215px, 17px, 17px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'logout-icon', );
$pause-icon-name: 'pause-icon';
$pause-icon-x: 240px;
$pause-icon-y: 215px;
$pause-icon-offset-x: -240px;
$pause-icon-offset-y: -215px;
$pause-icon-width: 20px;
$pause-icon-height: 20px;
$pause-icon-total-width: 288px;
$pause-icon-total-height: 262px;
$pause-icon-image: '../../../assets/imgs/spritesheet.png';
$pause-icon: (240px, 215px, -240px, -215px, 20px, 20px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'pause-icon', );
$play-icon-name: 'play-icon';
$play-icon-x: 263px;
$play-icon-y: 192px;
$play-icon-offset-x: -263px;
$play-icon-offset-y: -192px;
$play-icon-width: 20px;
$play-icon-height: 20px;
$play-icon-total-width: 288px;
$play-icon-total-height: 262px;
$play-icon-image: '../../../assets/imgs/spritesheet.png';
$play-icon: (263px, 192px, -263px, -192px, 20px, 20px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'play-icon', );
$preferences-icon-name: 'preferences-icon';
$preferences-icon-x: 110px;
$preferences-icon-y: 240px;
$preferences-icon-offset-x: -110px;
$preferences-icon-offset-y: -240px;
$preferences-icon-width: 16px;
$preferences-icon-height: 16px;
$preferences-icon-total-width: 288px;
$preferences-icon-total-height: 262px;
$preferences-icon-image: '../../../assets/imgs/spritesheet.png';
$preferences-icon: (110px, 240px, -110px, -240px, 16px, 16px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'preferences-icon', );
$repeat-icon-name: 'repeat-icon';
$repeat-icon-x: 93px;
$repeat-icon-y: 240px;
$repeat-icon-offset-x: -93px;
$repeat-icon-offset-y: -240px;
$repeat-icon-width: 17px;
$repeat-icon-height: 16px;
$repeat-icon-total-width: 288px;
$repeat-icon-total-height: 262px;
$repeat-icon-image: '../../../assets/imgs/spritesheet.png';
$repeat-icon: (93px, 240px, -93px, -240px, 17px, 16px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'repeat-icon', );
$shuffle-icon-name: 'shuffle-icon';
$shuffle-icon-x: 126px;
$shuffle-icon-y: 240px;
$shuffle-icon-offset-x: -126px;
$shuffle-icon-offset-y: -240px;
$shuffle-icon-width: 17px;
$shuffle-icon-height: 12px;
$shuffle-icon-total-width: 288px;
$shuffle-icon-total-height: 262px;
$shuffle-icon-image: '../../../assets/imgs/spritesheet.png';
$shuffle-icon: (126px, 240px, -126px, -240px, 17px, 12px, 288px, 262px, '../../../assets/imgs/spritesheet.png', 'shuffle-icon', );
$album-10-2x-name: 'album-10@2x';
$album-10-2x-x: 192px;
$album-10-2x-y: 288px;
$album-10-2x-offset-x: -192px;
$album-10-2x-offset-y: -288px;
$album-10-2x-width: 96px;
$album-10-2x-height: 96px;
$album-10-2x-total-width: 576px;
$album-10-2x-total-height: 524px;
$album-10-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$album-10-2x: (192px, 288px, -192px, -288px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'album-10@2x', );
$album-11-2x-name: 'album-11@2x';
$album-11-2x-x: 288px;
$album-11-2x-y: 288px;
$album-11-2x-offset-x: -288px;
$album-11-2x-offset-y: -288px;
$album-11-2x-width: 96px;
$album-11-2x-height: 96px;
$album-11-2x-total-width: 576px;
$album-11-2x-total-height: 524px;
$album-11-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$album-11-2x: (288px, 288px, -288px, -288px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'album-11@2x', );
$album-12-2x-name: 'album-12@2x';
$album-12-2x-x: 384px;
$album-12-2x-y: 0px;
$album-12-2x-offset-x: -384px;
$album-12-2x-offset-y: 0px;
$album-12-2x-width: 96px;
$album-12-2x-height: 96px;
$album-12-2x-total-width: 576px;
$album-12-2x-total-height: 524px;
$album-12-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$album-12-2x: (384px, 0px, -384px, 0px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'album-12@2x', );
$album-13-2x-name: 'album-13@2x';
$album-13-2x-x: 384px;
$album-13-2x-y: 96px;
$album-13-2x-offset-x: -384px;
$album-13-2x-offset-y: -96px;
$album-13-2x-width: 96px;
$album-13-2x-height: 96px;
$album-13-2x-total-width: 576px;
$album-13-2x-total-height: 524px;
$album-13-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$album-13-2x: (384px, 96px, -384px, -96px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'album-13@2x', );
$album-14-2x-name: 'album-14@2x';
$album-14-2x-x: 0px;
$album-14-2x-y: 0px;
$album-14-2x-offset-x: 0px;
$album-14-2x-offset-y: 0px;
$album-14-2x-width: 96px;
$album-14-2x-height: 96px;
$album-14-2x-total-width: 576px;
$album-14-2x-total-height: 524px;
$album-14-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$album-14-2x: (0px, 0px, 0px, 0px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'album-14@2x', );
$album-15-2x-name: 'album-15@2x';
$album-15-2x-x: 384px;
$album-15-2x-y: 288px;
$album-15-2x-offset-x: -384px;
$album-15-2x-offset-y: -288px;
$album-15-2x-width: 96px;
$album-15-2x-height: 96px;
$album-15-2x-total-width: 576px;
$album-15-2x-total-height: 524px;
$album-15-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$album-15-2x: (384px, 288px, -384px, -288px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'album-15@2x', );
$album-16-2x-name: 'album-16@2x';
$album-16-2x-x: 0px;
$album-16-2x-y: 384px;
$album-16-2x-offset-x: 0px;
$album-16-2x-offset-y: -384px;
$album-16-2x-width: 96px;
$album-16-2x-height: 96px;
$album-16-2x-total-width: 576px;
$album-16-2x-total-height: 524px;
$album-16-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$album-16-2x: (0px, 384px, 0px, -384px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'album-16@2x', );
$album-17-2x-name: 'album-17@2x';
$album-17-2x-x: 96px;
$album-17-2x-y: 384px;
$album-17-2x-offset-x: -96px;
$album-17-2x-offset-y: -384px;
$album-17-2x-width: 96px;
$album-17-2x-height: 96px;
$album-17-2x-total-width: 576px;
$album-17-2x-total-height: 524px;
$album-17-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$album-17-2x: (96px, 384px, -96px, -384px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'album-17@2x', );
$album-18-2x-name: 'album-18@2x';
$album-18-2x-x: 192px;
$album-18-2x-y: 384px;
$album-18-2x-offset-x: -192px;
$album-18-2x-offset-y: -384px;
$album-18-2x-width: 96px;
$album-18-2x-height: 96px;
$album-18-2x-total-width: 576px;
$album-18-2x-total-height: 524px;
$album-18-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$album-18-2x: (192px, 384px, -192px, -384px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'album-18@2x', );
$album-19-2x-name: 'album-19@2x';
$album-19-2x-x: 288px;
$album-19-2x-y: 384px;
$album-19-2x-offset-x: -288px;
$album-19-2x-offset-y: -384px;
$album-19-2x-width: 96px;
$album-19-2x-height: 96px;
$album-19-2x-total-width: 576px;
$album-19-2x-total-height: 524px;
$album-19-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$album-19-2x: (288px, 384px, -288px, -384px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'album-19@2x', );
$album-1-2x-name: 'album-1@2x';
$album-1-2x-x: 96px;
$album-1-2x-y: 288px;
$album-1-2x-offset-x: -96px;
$album-1-2x-offset-y: -288px;
$album-1-2x-width: 96px;
$album-1-2x-height: 96px;
$album-1-2x-total-width: 576px;
$album-1-2x-total-height: 524px;
$album-1-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$album-1-2x: (96px, 288px, -96px, -288px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'album-1@2x', );
$album-20-2x-name: 'album-20@2x';
$album-20-2x-x: 480px;
$album-20-2x-y: 0px;
$album-20-2x-offset-x: -480px;
$album-20-2x-offset-y: 0px;
$album-20-2x-width: 96px;
$album-20-2x-height: 96px;
$album-20-2x-total-width: 576px;
$album-20-2x-total-height: 524px;
$album-20-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$album-20-2x: (480px, 0px, -480px, 0px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'album-20@2x', );
$album-21-2x-name: 'album-21@2x';
$album-21-2x-x: 480px;
$album-21-2x-y: 96px;
$album-21-2x-offset-x: -480px;
$album-21-2x-offset-y: -96px;
$album-21-2x-width: 96px;
$album-21-2x-height: 96px;
$album-21-2x-total-width: 576px;
$album-21-2x-total-height: 524px;
$album-21-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$album-21-2x: (480px, 96px, -480px, -96px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'album-21@2x', );
$album-22-2x-name: 'album-22@2x';
$album-22-2x-x: 480px;
$album-22-2x-y: 192px;
$album-22-2x-offset-x: -480px;
$album-22-2x-offset-y: -192px;
$album-22-2x-width: 96px;
$album-22-2x-height: 96px;
$album-22-2x-total-width: 576px;
$album-22-2x-total-height: 524px;
$album-22-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$album-22-2x: (480px, 192px, -480px, -192px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'album-22@2x', );
$album-23-2x-name: 'album-23@2x';
$album-23-2x-x: 0px;
$album-23-2x-y: 288px;
$album-23-2x-offset-x: 0px;
$album-23-2x-offset-y: -288px;
$album-23-2x-width: 96px;
$album-23-2x-height: 96px;
$album-23-2x-total-width: 576px;
$album-23-2x-total-height: 524px;
$album-23-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$album-23-2x: (0px, 288px, 0px, -288px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'album-23@2x', );
$album-24-2x-name: 'album-24@2x';
$album-24-2x-x: 288px;
$album-24-2x-y: 192px;
$album-24-2x-offset-x: -288px;
$album-24-2x-offset-y: -192px;
$album-24-2x-width: 96px;
$album-24-2x-height: 96px;
$album-24-2x-total-width: 576px;
$album-24-2x-total-height: 524px;
$album-24-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$album-24-2x: (288px, 192px, -288px, -192px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'album-24@2x', );
$album-2-2x-name: 'album-2@2x';
$album-2-2x-x: 384px;
$album-2-2x-y: 384px;
$album-2-2x-offset-x: -384px;
$album-2-2x-offset-y: -384px;
$album-2-2x-width: 96px;
$album-2-2x-height: 96px;
$album-2-2x-total-width: 576px;
$album-2-2x-total-height: 524px;
$album-2-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$album-2-2x: (384px, 384px, -384px, -384px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'album-2@2x', );
$album-3-2x-name: 'album-3@2x';
$album-3-2x-x: 288px;
$album-3-2x-y: 96px;
$album-3-2x-offset-x: -288px;
$album-3-2x-offset-y: -96px;
$album-3-2x-width: 96px;
$album-3-2x-height: 96px;
$album-3-2x-total-width: 576px;
$album-3-2x-total-height: 524px;
$album-3-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$album-3-2x: (288px, 96px, -288px, -96px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'album-3@2x', );
$album-4-2x-name: 'album-4@2x';
$album-4-2x-x: 288px;
$album-4-2x-y: 0px;
$album-4-2x-offset-x: -288px;
$album-4-2x-offset-y: 0px;
$album-4-2x-width: 96px;
$album-4-2x-height: 96px;
$album-4-2x-total-width: 576px;
$album-4-2x-total-height: 524px;
$album-4-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$album-4-2x: (288px, 0px, -288px, 0px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'album-4@2x', );
$album-5-2x-name: 'album-5@2x';
$album-5-2x-x: 192px;
$album-5-2x-y: 192px;
$album-5-2x-offset-x: -192px;
$album-5-2x-offset-y: -192px;
$album-5-2x-width: 96px;
$album-5-2x-height: 96px;
$album-5-2x-total-width: 576px;
$album-5-2x-total-height: 524px;
$album-5-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$album-5-2x: (192px, 192px, -192px, -192px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'album-5@2x', );
$album-6-2x-name: 'album-6@2x';
$album-6-2x-x: 96px;
$album-6-2x-y: 192px;
$album-6-2x-offset-x: -96px;
$album-6-2x-offset-y: -192px;
$album-6-2x-width: 96px;
$album-6-2x-height: 96px;
$album-6-2x-total-width: 576px;
$album-6-2x-total-height: 524px;
$album-6-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$album-6-2x: (96px, 192px, -96px, -192px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'album-6@2x', );
$album-7-2x-name: 'album-7@2x';
$album-7-2x-x: 0px;
$album-7-2x-y: 192px;
$album-7-2x-offset-x: 0px;
$album-7-2x-offset-y: -192px;
$album-7-2x-width: 96px;
$album-7-2x-height: 96px;
$album-7-2x-total-width: 576px;
$album-7-2x-total-height: 524px;
$album-7-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$album-7-2x: (0px, 192px, 0px, -192px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'album-7@2x', );
$album-8-2x-name: 'album-8@2x';
$album-8-2x-x: 192px;
$album-8-2x-y: 96px;
$album-8-2x-offset-x: -192px;
$album-8-2x-offset-y: -96px;
$album-8-2x-width: 96px;
$album-8-2x-height: 96px;
$album-8-2x-total-width: 576px;
$album-8-2x-total-height: 524px;
$album-8-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$album-8-2x: (192px, 96px, -192px, -96px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'album-8@2x', );
$album-9-2x-name: 'album-9@2x';
$album-9-2x-x: 480px;
$album-9-2x-y: 288px;
$album-9-2x-offset-x: -480px;
$album-9-2x-offset-y: -288px;
$album-9-2x-width: 96px;
$album-9-2x-height: 96px;
$album-9-2x-total-width: 576px;
$album-9-2x-total-height: 524px;
$album-9-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$album-9-2x: (480px, 288px, -480px, -288px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'album-9@2x', );
$avatar-1-2x-name: 'avatar-1@2x';
$avatar-1-2x-x: 96px;
$avatar-1-2x-y: 0px;
$avatar-1-2x-offset-x: -96px;
$avatar-1-2x-offset-y: 0px;
$avatar-1-2x-width: 96px;
$avatar-1-2x-height: 96px;
$avatar-1-2x-total-width: 576px;
$avatar-1-2x-total-height: 524px;
$avatar-1-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$avatar-1-2x: (96px, 0px, -96px, 0px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'avatar-1@2x', );
$avatar-2-2x-name: 'avatar-2@2x';
$avatar-2-2x-x: 384px;
$avatar-2-2x-y: 192px;
$avatar-2-2x-offset-x: -384px;
$avatar-2-2x-offset-y: -192px;
$avatar-2-2x-width: 96px;
$avatar-2-2x-height: 96px;
$avatar-2-2x-total-width: 576px;
$avatar-2-2x-total-height: 524px;
$avatar-2-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$avatar-2-2x: (384px, 192px, -384px, -192px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'avatar-2@2x', );
$avatar-3-2x-name: 'avatar-3@2x';
$avatar-3-2x-x: 0px;
$avatar-3-2x-y: 96px;
$avatar-3-2x-offset-x: 0px;
$avatar-3-2x-offset-y: -96px;
$avatar-3-2x-width: 96px;
$avatar-3-2x-height: 96px;
$avatar-3-2x-total-width: 576px;
$avatar-3-2x-total-height: 524px;
$avatar-3-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$avatar-3-2x: (0px, 96px, 0px, -96px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'avatar-3@2x', );
$avatar-4-2x-name: 'avatar-4@2x';
$avatar-4-2x-x: 96px;
$avatar-4-2x-y: 96px;
$avatar-4-2x-offset-x: -96px;
$avatar-4-2x-offset-y: -96px;
$avatar-4-2x-width: 96px;
$avatar-4-2x-height: 96px;
$avatar-4-2x-total-width: 576px;
$avatar-4-2x-total-height: 524px;
$avatar-4-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$avatar-4-2x: (96px, 96px, -96px, -96px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'avatar-4@2x', );
$avatar-5-2x-name: 'avatar-5@2x';
$avatar-5-2x-x: 192px;
$avatar-5-2x-y: 0px;
$avatar-5-2x-offset-x: -192px;
$avatar-5-2x-offset-y: 0px;
$avatar-5-2x-width: 96px;
$avatar-5-2x-height: 96px;
$avatar-5-2x-total-width: 576px;
$avatar-5-2x-total-height: 524px;
$avatar-5-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$avatar-5-2x: (192px, 0px, -192px, 0px, 96px, 96px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'avatar-5@2x', );
$brand-logo-2x-name: 'brand-logo@2x';
$brand-logo-2x-x: 0px;
$brand-logo-2x-y: 480px;
$brand-logo-2x-offset-x: 0px;
$brand-logo-2x-offset-y: -480px;
$brand-logo-2x-width: 186px;
$brand-logo-2x-height: 44px;
$brand-logo-2x-total-width: 576px;
$brand-logo-2x-total-height: 524px;
$brand-logo-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$brand-logo-2x: (0px, 480px, 0px, -480px, 186px, 44px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'brand-logo@2x', );
$help-icon-2x-name: 'help-icon@2x';
$help-icon-2x-x: 480px;
$help-icon-2x-y: 384px;
$help-icon-2x-offset-x: -480px;
$help-icon-2x-offset-y: -384px;
$help-icon-2x-width: 46px;
$help-icon-2x-height: 46px;
$help-icon-2x-total-width: 576px;
$help-icon-2x-total-height: 524px;
$help-icon-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$help-icon-2x: (480px, 384px, -480px, -384px, 46px, 46px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'help-icon@2x', );
$logout-icon-2x-name: 'logout-icon@2x';
$logout-icon-2x-x: 519px;
$logout-icon-2x-y: 430px;
$logout-icon-2x-offset-x: -519px;
$logout-icon-2x-offset-y: -430px;
$logout-icon-2x-width: 33px;
$logout-icon-2x-height: 33px;
$logout-icon-2x-total-width: 576px;
$logout-icon-2x-total-height: 524px;
$logout-icon-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$logout-icon-2x: (519px, 430px, -519px, -430px, 33px, 33px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'logout-icon@2x', );
$pause-icon-2x-name: 'pause-icon@2x';
$pause-icon-2x-x: 480px;
$pause-icon-2x-y: 430px;
$pause-icon-2x-offset-x: -480px;
$pause-icon-2x-offset-y: -430px;
$pause-icon-2x-width: 39px;
$pause-icon-2x-height: 39px;
$pause-icon-2x-total-width: 576px;
$pause-icon-2x-total-height: 524px;
$pause-icon-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$pause-icon-2x: (480px, 430px, -480px, -430px, 39px, 39px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'pause-icon@2x', );
$play-icon-2x-name: 'play-icon@2x';
$play-icon-2x-x: 526px;
$play-icon-2x-y: 384px;
$play-icon-2x-offset-x: -526px;
$play-icon-2x-offset-y: -384px;
$play-icon-2x-width: 39px;
$play-icon-2x-height: 39px;
$play-icon-2x-total-width: 576px;
$play-icon-2x-total-height: 524px;
$play-icon-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$play-icon-2x: (526px, 384px, -526px, -384px, 39px, 39px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'play-icon@2x', );
$preferences-icon-2x-name: 'preferences-icon@2x';
$preferences-icon-2x-x: 219px;
$preferences-icon-2x-y: 480px;
$preferences-icon-2x-offset-x: -219px;
$preferences-icon-2x-offset-y: -480px;
$preferences-icon-2x-width: 32px;
$preferences-icon-2x-height: 32px;
$preferences-icon-2x-total-width: 576px;
$preferences-icon-2x-total-height: 524px;
$preferences-icon-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$preferences-icon-2x: (219px, 480px, -219px, -480px, 32px, 32px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'preferences-icon@2x', );
$repeat-icon-2x-name: 'repeat-icon@2x';
$repeat-icon-2x-x: 186px;
$repeat-icon-2x-y: 480px;
$repeat-icon-2x-offset-x: -186px;
$repeat-icon-2x-offset-y: -480px;
$repeat-icon-2x-width: 33px;
$repeat-icon-2x-height: 32px;
$repeat-icon-2x-total-width: 576px;
$repeat-icon-2x-total-height: 524px;
$repeat-icon-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$repeat-icon-2x: (186px, 480px, -186px, -480px, 33px, 32px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'repeat-icon@2x', );
$shuffle-icon-2x-name: 'shuffle-icon@2x';
$shuffle-icon-2x-x: 251px;
$shuffle-icon-2x-y: 480px;
$shuffle-icon-2x-offset-x: -251px;
$shuffle-icon-2x-offset-y: -480px;
$shuffle-icon-2x-width: 33px;
$shuffle-icon-2x-height: 23px;
$shuffle-icon-2x-total-width: 576px;
$shuffle-icon-2x-total-height: 524px;
$shuffle-icon-2x-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$shuffle-icon-2x: (251px, 480px, -251px, -480px, 33px, 23px, 576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', 'shuffle-icon@2x', );
$spritesheet-width: 288px;
$spritesheet-height: 262px;
$spritesheet-image: '../../../assets/imgs/spritesheet.png';
$spritesheet-sprites: ($album-1, $album-10, $album-11, $album-12, $album-13, $album-14, $album-15, $album-16, $album-17, $album-18, $album-19, $album-2, $album-20, $album-21, $album-22, $album-23, $album-24, $album-3, $album-4, $album-5, $album-6, $album-7, $album-8, $album-9, $avatar-1, $avatar-2, $avatar-3, $avatar-4, $avatar-5, $brand-logo, $help-icon, $logout-icon, $pause-icon, $play-icon, $preferences-icon, $repeat-icon, $shuffle-icon, );
$spritesheet: (288px, 262px, '../../../assets/imgs/spritesheet.png', $spritesheet-sprites, );
$retina-spritesheet-width: 576px;
$retina-spritesheet-height: 524px;
$retina-spritesheet-image: '../../../assets/imgs/spritesheet.retina@2x.png';
$retina-spritesheet-sprites: ($album-10-2x, $album-11-2x, $album-12-2x, $album-13-2x, $album-14-2x, $album-15-2x, $album-16-2x, $album-17-2x, $album-18-2x, $album-19-2x, $album-1-2x, $album-20-2x, $album-21-2x, $album-22-2x, $album-23-2x, $album-24-2x, $album-2-2x, $album-3-2x, $album-4-2x, $album-5-2x, $album-6-2x, $album-7-2x, $album-8-2x, $album-9-2x, $avatar-1-2x, $avatar-2-2x, $avatar-3-2x, $avatar-4-2x, $avatar-5-2x, $brand-logo-2x, $help-icon-2x, $logout-icon-2x, $pause-icon-2x, $play-icon-2x, $preferences-icon-2x, $repeat-icon-2x, $shuffle-icon-2x, );
$retina-spritesheet: (576px, 524px, '../../../assets/imgs/spritesheet.retina@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$album-1-group-name: 'album-1';
$album-1-group: ('album-1', $album-1, $album-10-2x, );
$album-10-group-name: 'album-10';
$album-10-group: ('album-10', $album-10, $album-11-2x, );
$album-11-group-name: 'album-11';
$album-11-group: ('album-11', $album-11, $album-12-2x, );
$album-12-group-name: 'album-12';
$album-12-group: ('album-12', $album-12, $album-13-2x, );
$album-13-group-name: 'album-13';
$album-13-group: ('album-13', $album-13, $album-14-2x, );
$album-14-group-name: 'album-14';
$album-14-group: ('album-14', $album-14, $album-15-2x, );
$album-15-group-name: 'album-15';
$album-15-group: ('album-15', $album-15, $album-16-2x, );
$album-16-group-name: 'album-16';
$album-16-group: ('album-16', $album-16, $album-17-2x, );
$album-17-group-name: 'album-17';
$album-17-group: ('album-17', $album-17, $album-18-2x, );
$album-18-group-name: 'album-18';
$album-18-group: ('album-18', $album-18, $album-19-2x, );
$album-19-group-name: 'album-19';
$album-19-group: ('album-19', $album-19, $album-1-2x, );
$album-2-group-name: 'album-2';
$album-2-group: ('album-2', $album-2, $album-20-2x, );
$album-20-group-name: 'album-20';
$album-20-group: ('album-20', $album-20, $album-21-2x, );
$album-21-group-name: 'album-21';
$album-21-group: ('album-21', $album-21, $album-22-2x, );
$album-22-group-name: 'album-22';
$album-22-group: ('album-22', $album-22, $album-23-2x, );
$album-23-group-name: 'album-23';
$album-23-group: ('album-23', $album-23, $album-24-2x, );
$album-24-group-name: 'album-24';
$album-24-group: ('album-24', $album-24, $album-2-2x, );
$album-3-group-name: 'album-3';
$album-3-group: ('album-3', $album-3, $album-3-2x, );
$album-4-group-name: 'album-4';
$album-4-group: ('album-4', $album-4, $album-4-2x, );
$album-5-group-name: 'album-5';
$album-5-group: ('album-5', $album-5, $album-5-2x, );
$album-6-group-name: 'album-6';
$album-6-group: ('album-6', $album-6, $album-6-2x, );
$album-7-group-name: 'album-7';
$album-7-group: ('album-7', $album-7, $album-7-2x, );
$album-8-group-name: 'album-8';
$album-8-group: ('album-8', $album-8, $album-8-2x, );
$album-9-group-name: 'album-9';
$album-9-group: ('album-9', $album-9, $album-9-2x, );
$avatar-1-group-name: 'avatar-1';
$avatar-1-group: ('avatar-1', $avatar-1, $avatar-1-2x, );
$avatar-2-group-name: 'avatar-2';
$avatar-2-group: ('avatar-2', $avatar-2, $avatar-2-2x, );
$avatar-3-group-name: 'avatar-3';
$avatar-3-group: ('avatar-3', $avatar-3, $avatar-3-2x, );
$avatar-4-group-name: 'avatar-4';
$avatar-4-group: ('avatar-4', $avatar-4, $avatar-4-2x, );
$avatar-5-group-name: 'avatar-5';
$avatar-5-group: ('avatar-5', $avatar-5, $avatar-5-2x, );
$brand-logo-group-name: 'brand-logo';
$brand-logo-group: ('brand-logo', $brand-logo, $brand-logo-2x, );
$help-icon-group-name: 'help-icon';
$help-icon-group: ('help-icon', $help-icon, $help-icon-2x, );
$logout-icon-group-name: 'logout-icon';
$logout-icon-group: ('logout-icon', $logout-icon, $logout-icon-2x, );
$pause-icon-group-name: 'pause-icon';
$pause-icon-group: ('pause-icon', $pause-icon, $pause-icon-2x, );
$play-icon-group-name: 'play-icon';
$play-icon-group: ('play-icon', $play-icon, $play-icon-2x, );
$preferences-icon-group-name: 'preferences-icon';
$preferences-icon-group: ('preferences-icon', $preferences-icon, $preferences-icon-2x, );
$repeat-icon-group-name: 'repeat-icon';
$repeat-icon-group: ('repeat-icon', $repeat-icon, $repeat-icon-2x, );
$shuffle-icon-group-name: 'shuffle-icon';
$shuffle-icon-group: ('shuffle-icon', $shuffle-icon, $shuffle-icon-2x, );
$retina-groups: ($album-1-group, $album-10-group, $album-11-group, $album-12-group, $album-13-group, $album-14-group, $album-15-group, $album-16-group, $album-17-group, $album-18-group, $album-19-group, $album-2-group, $album-20-group, $album-21-group, $album-22-group, $album-23-group, $album-24-group, $album-3-group, $album-4-group, $album-5-group, $album-6-group, $album-7-group, $album-8-group, $album-9-group, $avatar-1-group, $avatar-2-group, $avatar-3-group, $avatar-4-group, $avatar-5-group, $brand-logo-group, $help-icon-group, $logout-icon-group, $pause-icon-group, $play-icon-group, $preferences-icon-group, $repeat-icon-group, $shuffle-icon-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
