body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	
	* {
		box-sizing: border-box;
	}

	.clear {
		clear: both;
	}

	.no-padding {
		padding-left: 0;
		padding-right: 0;
	}

	#main-content {
		flex: 1;
		
		#page-content {	

			li {

				@include rem(margin-bottom, 10px);

			}

			.input-group {
				@include rem(margin-top, 1.5rem);
				@include rem(margin-bottom, 1.5rem);
			}
		}
	}
}