#footer {

	position: relative;
	z-index: 10;
	background-color: $darkBlue;
	
	.footer-bottom {
		
		color: $white;
		@include rem(font-size, 1.2rem);
		@include rem(padding-top, 1rem);
		@include rem(padding-bottom, 1rem);
	}

	p {
		margin-bottom: 0;
		@include rem(line-height, 1.8rem);
	}

}