header {
	
	position: relative;
	z-index: 99999999;
	
	&#site-header {
		@include rem(padding-top, 15px);
		@include rem(padding-right, 10px);
		@include rem(padding-bottom, 15px);
		@include rem(padding-left, 10px);
	}

}