.sign-in {

	#main-content {

		@include rem(width, 44rem);

		#page-content {

			position: absolute;
			@include rem(width, 44rem);
			top: 50%;
			transform: translateY(-50%);

			#site-logo {
				
			}

			#form-cont {

				#signin-form {
					@include rem(min-height, 22rem);
					@include rem(padding, 2.5rem 5rem);

					h1 {
						margin-top: 0;
					}

					hr {
						background-color: $white;
					}

					#loginForm {
						> .input-group {

							&:first-child {
								@include rem(margin-top, 15px);
							}

							&:last-child {
								@include rem(margin-bottom, 15px);
							}
						}
					}
				}			
			}
		}
	}
}