#player-bar {

	display: table;
	width: 100%;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	margin: 0;
	@extend %transition;
	bottom: 0;

	@media (max-width: 991px) {
	  position: relative;
	}

	> * {
		float: none;
		display: table-cell;
		vertical-align: middle;
	}

	background-color: $darkBlue;
	color: $white;
	@include rem(font-size, 16px);
	@include rem(padding-top, 20px);
	@include rem(padding-bottom, 20px);


	#player-cont {

		width: 100%;
		display: inline-block;

		> * {
			display: table-cell;
			vertical-align: middle;
			float: none;
		}

		.current-thumb {

			@include rem(width, 48px);
			@include rem(height, 48px);
			background-color: transparent;
			@include rem(margin-left, 15px);
			display: block;
			position: relative;
			border-radius: 5px;
			border: dashed 1px $grey;

			@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
				@include rem(width, 96px);
				@include rem(height, 96px);
	    
	    }

	    &.playing {
				border: 0;
	    }
		}

		#player-controls {

			.track-title {
				@include rem(font-size, 18px);
				font-weight: 600;
				@include rem(margin-bottom, 15px);
			}
			/**
			 * Generated via http://danielstern.ca/range.css
			 */
			input[type=range] {
				@extend %transition;
			  -webkit-appearance: none;
			  width: 100%;
			  @include rem(margin-bottom, 20px);
			}
			input[type=range]:focus {
			  outline: none;
			}
			input[type=range]::-webkit-slider-runnable-track {
			  width: 100%;
			  height: 5px;
			  cursor: pointer;
			  box-shadow: 0px 0px px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
			  background: rgba(255, 255, 255, 0.5);
			  border-radius: 0px;
			  border: 0px solid rgba(0, 0, 0, 0);
			}
			input[type=range]::-webkit-slider-thumb {
			  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
			  border: 0px solid rgba(0, 0, 0, 0);
			  height: 20px;
			  width: 20px;
			  border-radius: 10px;
			  background: #ffffff;
			  cursor: pointer;
			  -webkit-appearance: none;
			  margin-top: -7.5px;
			}
			input[type=range]:focus::-webkit-slider-runnable-track {
			  background: rgba(255, 255, 255, 0.5);
			}
			input[type=range]::-moz-range-track {
			  width: 100%;
			  height: 5px;
			  cursor: pointer;
			  box-shadow: 0px 0px px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
			  background: rgba(255, 255, 255, 0.5);
			  border-radius: 0px;
			  border: 0px solid rgba(0, 0, 0, 0);
			}
			input[type=range]::-moz-range-thumb {
			  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
			  border: 0px solid rgba(0, 0, 0, 0);
			  height: 20px;
			  width: 20px;
			  border-radius: 10px;
			  background: #ffffff;
			  cursor: pointer;
			}
			input[type=range]::-ms-track {
			  width: 100%;
			  height: 5px;
			  cursor: pointer;
			  background: transparent;
			  border-color: transparent;
			  color: transparent;
			}
			input[type=range]::-ms-fill-lower {
			  background: rgba(242, 242, 242, 0.5);
			  border: 0px solid rgba(0, 0, 0, 0);
			  border-radius: 0px;
			  box-shadow: 0px 0px px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
			}
			input[type=range]::-ms-fill-upper {
			  background: rgba(255, 255, 255, 0.5);
			  border: 0px solid rgba(0, 0, 0, 0);
			  border-radius: 0px;
			  box-shadow: 0px 0px px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
			}
			input[type=range]::-ms-thumb {
			  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
			  border: 0px solid rgba(0, 0, 0, 0);
			  height: 20px;
			  width: 20px;
			  border-radius: 10px;
			  background: #ffffff;
			  cursor: pointer;
			  height: 5px;
			}
			input[type=range]:focus::-ms-fill-lower {
			  background: rgba(255, 255, 255, 0.5);
			}
			input[type=range]:focus::-ms-fill-upper {
			  background: rgba(255, 255, 255, 0.5);
			}

			.control-cont {				

				button {
					display: table-cell;
					vertical-align: middle;
					@extend %transition;
					opacity: 0.5;
					background-color: transparent;
					text-indent: -99999999px;
					outline: none;
					border: 0;
					@include rem(margin-left, 15px);
					-webkit-backface-visibility: hidden;

					&:hover, &.active {
						@extend %transition;
						opacity: 1;
					}

					&:first-child {
						margin-left: 0;
					}

					&.active {
						@extend %transition;
						opacity: 1;
					}

					&.play {
						@include retina-sprite($play-icon-group);
					}

					&.pause {
						@include retina-sprite($pause-icon-group);
					}

					&.shuffle {
						@include retina-sprite($shuffle-icon-group);
					}

					&.repeat {
						@include retina-sprite($repeat-icon-group);
					}
				}
			}
		}
	}
}