.btn {

	@extend %transition;
	border-radius: 1.5em;
	padding: 0.5em 2em;
	border-color: none;
	@include rem(font-size, 20px);

	&:hover, &:active, &:focus, &:disabled, &:visited {
		@extend %transition;
		border-color: none;
		outline: 0;
	}

	&:disabled, &.disabled {
		&:hover {
			color: inherit;
			background-color: inherit;
		}
	}

	&.btn-default {

		background-color: $grey;
		color: $white;

		&:hover:not(:disabled):not(.disabled) {
			background-color: $darkGrey;
		}

	}

	&.btn-success {
		background-color: $green;
		
		&:hover:not(:disabled):not(.disabled) {
			background-color: $darkGreen;
		}

	}
	
	&.disabled, &:disabled {
		opacity: $btnOpacity;
	}

}

#page-content {

	.btn {
		@include rem(font-size, 16px);
	}

}