.input-group {
	.input-group-addon {
		@include rem(min-width, 4.2rem);
		border: 0;
		background-color: $green;
		color: $white;

		&.error {
			background-color: $lightRed;
			color: $white;
		}

	}

	input, select, textarea {
		@extend %transition;
		border-color: $white;
		box-shadow: none;

		&.error {
			@extend %transition;
			border-color: $red;
		}
	}

}	

label {

	&.error {

		position: absolute;
		color: $white!important;
		@include rem(width, 16rem);
		@include rem(font-size, 14px);
		text-align: center;
		@include rem(padding, 8px);
		@include rem(padding-bottom, 10px);
		@include rem(padding-right, 10px);
		@include rem(padding-left, 10px);
		@include rem(left, -18rem);
		background-color: $lightRed;
		@include rem(border-top-left-radius, 5px);
		@include rem(border-bottom-left-radius, 5px);
		margin: 0;

		&::after {
			position: absolute;
			display: block;
			content: '';
			@include arrow($lightRed, 1.8rem, right);
			@include rem(right, -1.8rem);
			top: 0;

		}
	}
}

.sign-in {
	#form-cont {
		#signin-form {

			h1 {
				color: $white;
			}

			background-color: $darkBlue;
			color: $white;
			box-shadow: 0 8px 6px -6px $black;
			@extend %border-radius;
		}
	}
}