#recent-share {

	>* {
		display: inline-block;
		vertical-align: middle;

		&.activity-info {
			@include rem(padding-left, 15px);

			p:first-child {
				@include rem(margin-bottom, 5px);
			}
		}
	}

}