#profile-img {
	cursor: pointer;
}

#main-menu {

		position: relative;

	ul {

		height: auto;
		display: none;
		@include rem(padding-top, 25px);
		@include rem(padding-right, 15px);
		@include rem(padding-bottom, 25px);
		@include rem(padding-left, 15px);
		background-color: $white;
		border-radius: 5px;
		box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
		@include rem(width, 22rem);
		list-style: none;
		position: absolute;
		@include rem(top, 6.5rem);
		@include rem(right, -6.5rem);

		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	    @include rem(margin-top, 13rem);
	    @include rem(right, -13rem);
	  }

		li {

			text-align: left;
			position: relative;
			cursor: pointer;

			a {

				@include rem(margin-bottom, 3rem);
				@include rem(padding-left, 3.5rem);
				@include rem(font-size, 16px);
				width: 100%;
				height: 100%;
				display: block;
				font-weight: 400;

				&.help {
					@include rem(padding-top, 0.2rem);
				}

				&::before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
				}

				&::after {
					display: block;
					opacity: 0;
					content: '';
					@include rem(height, 0.3rem);
					width: 100%;
					background-color: $blue;
					@extend %transition;
					position: absolute;
					left: 0;
					@include rem(bottom, -1.5rem);
					z-index: 9999999;
				}

				&:hover {

					&::after {
						@extend %transition;
						opacity: 1;
					}				
				}

				&.help {
					&::before {
						@include retina-sprite($help-icon-group);
					}
				}

				&.preferences {
					&::before {
						@include retina-sprite($preferences-icon-group);
					}
				}

				&.logout {
					&::before {
						@include retina-sprite($logout-icon-group);
					}
				}
			}

			&:last-child {
				a {					
					margin-bottom: 0;
				}
			}
		}

		&::before {
			display: block;
			content: '';
			position: absolute;
			@include rem(top, -1rem);
			@include rem(right, 3rem);
			@include arrow($white, 1rem, up);
		}
			}

}