#ajaxRes {

	* {
		@extend %transition;
	}

	&.modal {

		.modal-dialog {
		  margin-top: 0;
		  margin-bottom: 0;
		  height: 100vh;
		  display: flex;
		  flex-direction: column;
		  justify-content: center;

		  &.modal-sm {
		  	@include rem(width, 9.2rem);
		  }

		}

		&.fade {
			.modal-dialog {
			  transform: translate(0, -100%);
			}
		}

		&.in {
			.modal-dialog {
			  transform: translate(0, 0);
			}
		}
	}

	&.loading-data {

		.modal-content {

			.spinner-cont {
				@include rem(width, 3.2rem);
				@include rem(height, 3.2rem);
				position: absolute;
				margin: auto;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;

			}

			.modal-header, .modal-footer {
				border: 0;
			}
		}

	}

}