#main-content {

	#page-content {

		.sidebar-cont {

				h1, h2 {
					padding-top: 0;
					margin-top: 0;
					@include rem(margin-bottom, 3rem);
				}

				position: relative;
				z-index: 0;

				.sidebar {

					position: relative;
					z-index: 0;
					@include rem(padding, 20px);
					border-radius: 5px;
					background-color: $lightBlue;

					@media (max-width: 991px) {					
						@include rem(margin-bottom, 30px);
					}
					
					ul {
						margin: 0;
						padding: 0;
						list-style: none;

						li {

							display: table;
							width: 100%;
							@include rem(margin-bottom, 15px);

							>* {
								display: table-cell;
								vertical-align: middle;
								

								&:first-child {

									border-radius: 50%;

									&:hover {
										
										@include scaleTrans();
										
										~ .activity-info > p:first-of-type b {
											@extend %transition;
											color: $green!important;
										}
									}
								}
							}

							.activity-info {
								@include rem(padding-left, 15px);
								p {
									margin: 0;
									
									b {
										@extend %transition;
									}
								}
							}
						}
					}

					nav {
						button:first-of-type {
							@include rem(margin-right, 15px);
						}
					}
				}
			}
		}
	}