#track-selection {

	position: relative;
	z-index: 1;
	@include rem(margin-bottom, 30px);
	background-color: $lightBlue;
	@include rem(border-radius, 5px);
	@include rem(padding-top, 20px);
	@include rem(padding-right, 15px);
	@include rem(padding-bottom, 20px);
	@include rem(padding-left, 15px);

	header {
		
		@include rem(margin-bottom, 30px);
		.btn {
			@include rem(margin-top, 20px);
			@include rem(margin-bottom, 10px);
		}
	}

	.album-list {

		>* {
			cursor: pointer;

			>[class^="album-"] {

				@extend %transition;
				
				position: relative;

				&::before, &::after {
					@extend %transition;
					opacity: 0;
					content:'';
					display: block;
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
				}

				&::before {
					z-index: 10;
					background-color: rgba(0,0,0,0.5);
				}

				&::after {
					z-index: 11;
					@include retina-sprite($play-icon-group);
					transform: translate(70%, 70%);
				}

				&:hover, &.active {
					
					@include scaleTrans();

					&::before, &::after {						
						@extend %transition;						
					}

					&::before {
						opacity: 1;
					}

					&::after {
						opacity: 0.5;
					}
				}
			}
		}

		[class^="album-"] {
			@include rem(margin-bottom, 10px);
		}

	}

}